<style>
  .invalid {
    border: 5px;
    border-color: red;
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #9a33b2;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }

  .error-field{
    color: red;
  }
</style>

<div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Create A new chest</h4>
        <p class="card-category" id="sub-title">The generic chest options provide you with a template for whats needed</p>
      </div>
      <div class="card-body">
        <form id="regForm" action="{% url 'new_chest' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- TAB 1-->
          <div class="tab" id="select-type" style="display: none;">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group bmd-form-group">
                  <p>Select what the chest is for</p>
                  <select id="chest-types" name="chest-types" class="form-control">
                    <option value="bnk">Banking</option>
                    <option value="wrk">Work</option>
                    <option value="oth">Other...</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- TAB 2 -->
          <input type="text" value="" id="form-flag" name="size-flag" hidden/>
          <div class="tab" id="other" style="display: none;">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Chest Name</label>
                  <input type="text" class="form-control" name="chest-name" id="chest-name">
                </div>
              </div>
            </div>
            <div class="row" id="chest-file-1">
              <div class="col-md-10">
                <label class="bmd-label-floating">Add file to chest</label>
                <input type="file" class="form-control-file" name="chest-file-other-1" id="chest-file-input-1">
              </div>
            </div>
            <div class="row" id="file-adder">
              <div class="col-md">
                <button type="button" class="btn btn-primary pull-right" id="newField" onclick="newFileField()">Add more files</button>
                <button type="button" class="btn btn-primary pull-right" id="newField" onclick="removeFileField()">Remove a file</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- TAB 3 -->
          <div class="tab" id="banking" style="display: none;">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Full Names</label>
                  <input type="text" class="form-control" id="uname" name="uname">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <p>Birthdate</p>
                  <input type="date" id="bd" name="bd">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Enter your address</label>
                  <input type="text" class="form-control" id="uaddress" name="uaddress" onchange="validatedocs()">
                </div>
              </div>
            </div>
            <div class="row" id="bnk-id" hidden>
              <div class="col-md-10">
                <label class="bmd-label-floating">Add your ID</label>
                <input type="file" class="form-control-file" name="userid" id="userid" onchange="checkid()">
              </div>
            </div>
            <div class="row" id="bnk-kra" hidden>
              <div class="col-md-10">
                <label class="bmd-label-floating">Add your KRA cert</label>
                <input type="file" class="form-control-file" name="userkra" id="userkra" onchange="checkkra()">
              </div>
            </div>
            <div class="row" id="bnk-utility" hidden>
              <div class="col-md-10">
                <label class="bmd-label-floating">Add a Passport Photo</label>
                <input type="file" class="form-control-file" name="userpp" id="userpp" onchange="checkpp()">
              </div>
            </div>
            <div class="row" id="bnk-utility">
              <div class="col-md-10">
                <p id="confirmation" class="text-info"></p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- TAB 4 -->
          <div class="tab" id="other" style="display: none;">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group bmd-form-group">
                  <p>Select what the chest is for</p>
                  <select id="chest-type" name="chest-type" class="form-control">
                    <option value="bnk">Banking</option>
                    <option value="wrk">Work</option>
                    <option value="prs">Personal</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <button type="button" class="btn btn-primary pull-right" id="nextBtn" onclick="nextPrev(1)">→</button>
          <button type="button" class="btn btn-primary pull-right" id="prevBtn" onclick="nextPrev(-1)">←</button>

          <div style="display: none">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
        </form>
        <div class="error-field" id="error-field"></div>
        <progress id="progress" hidden></progress>
      </div>
    </div>
  </div>

  <script>
    var currentTab = 0;
    var jump_to = 0; //0 -> Other, 1 -> Banking, 2 -> Work
    var node_count = 1;
    var done = 0;

    showTab(currentTab);
    
    function showTab(n) {
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";
      if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
      } else {
        document.getElementById("prevBtn").style.display = "inline";
        done++;
      }
      if (n != 0) {
        document.getElementById("nextBtn").innerHTML = "Submit";
      } else {
        document.getElementById("nextBtn").innerHTML = "→";
      }
      fixStepIndicator(n)
    }
    
    function nextPrev(n) {
      var x = document.getElementsByClassName("tab");
      if (n == 1 && !validateForm()) return false;
      x[currentTab].style.display = "none";
      if(n==-1) done=0;
      jump_to *= n;
      currentTab = currentTab + n + jump_to;
      jump_to *= n;
      if (done) {
        document.getElementById("regForm").submit();
        return false;
      }
      showTab(currentTab);
    }
    
    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      if(currentTab==0){
        x = document.getElementsByClassName("tab");
        y = document.getElementById("chest-types");
        switch(y.value){
          case "bnk":
            jump_to = 1;
            break;
          case "wrk":
            jump_to = 2;
            break;
          case "oth":
            document.getElementById("sub-title").innerText = "The files you add here will be seen by whoever has this chests ID";
            jump_to = 0;
            break;
          default:
            valid= false
            break;
        }
      }
      if(jump_to==0 && currentTab>0){
        flag = 1;
        var ffid = "chest-file-input-";
        var ffid_a = "";
        var cn = document.getElementById("chest-name");
        if(cn.value.length < 1){
          cn.className += " invalid";
          document.getElementById("error-field").innerText = "Please enter chest name";
          valid = false;
        }
        for(var i=node_count; i>0; i--){
          ffid_a = ffid + i;
          var ff = document.getElementById(ffid_a);
          if(ff.files.length <= 0){
            ff.className += " invalid";
            document.getElementById("error-field").innerText = "All file fields have to be populated. Add file or remove a file field";
            console.log(ff.className);
            valid = false; 
          }
        }
        valid = true;
      }
      if(jump_to==1 && currentTab>0){
        var id = document.getElementById("userid");
        var kra = document.getElementById("userkra");
        var pp = document.getElementById("userpp");
        document.getElementById("regForm").action = "{% url 'new_banking_auth' %}";
        if(id.files.length == 0 || kra.files.length == 0 || pp.files.length == 0) {
          document.getElementById("error-field").innerText = "Please fill out the entire form";
          valid = false;
        }
      }
      else{
        valid = true;
      }
    
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
        document.getElementById("form-flag").value = "" + node_count;
      }
      return valid; // return the valid status
    }
    
    function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      //... and adds the "active" class on the current step:
      x[n].className += " active";
    }

    function newFileField(){
      var org = document.getElementById("chest-file-1");
      var clone = org.cloneNode(true);
      node_count += 1;
      clone.id = "chest-file-" + node_count;
      var inp = clone.getElementsByTagName("input")[0];
      inp.id = "chest-file-input-" + node_count;
      var btn = document.getElementById("file-adder");
      pr = btn.parentNode;
      pr.removeChild(btn);
      pr.appendChild(clone);
      pr.appendChild(btn);
    }
    function removeFileField(){
      if(node_count == 1){
        return;
      }
      ffid = "chest-file-" + node_count;
      node_count -= 1;
      ff = document.getElementById(ffid);
      ff.parentNode.removeChild(ff);
    }
    function send_data(data, url, step=1){
      console.log( 'Sending data' );

      const XHR = new XMLHttpRequest();
      document.getElementById("error-field").innerText = "";

      XHR.addEventListener( 'load', function(event) {
        let v = JSON.parse(event.target.response);
        document.getElementById("progress").setAttribute("hidden", "true");
        if(!v.verified){
          var ef = document.getElementById("error-field");
          ef.innerText = "Document not valid/readable, please ensure all contents are visible in your document.";
        } else {
          if(step == 1){
            document.getElementById("bnk-kra").removeAttribute("hidden");
          }
          if(step == 2){
            document.getElementById("bnk-utility").removeAttribute("hidden");
          }
          if(step == 3){
            document.getElementById("confirmation")
              .innerHTML = "Your documents have been verified."
          }
        }
      });
      XHR.addEventListener( 'error', function(event) {
        return event;
      } );
      XHR.open('POST', url);
      XHR.send( data );
    }

    function validatedocs(){
      document.getElementById("bnk-id").removeAttribute("hidden");
    }

    function checkid(){
      let id = document.getElementById("userid").files[0];
      let un = document.getElementById("uname").value;
      let bd = document.getElementById("bd").value;
      let adr = document.getElementById("uaddress").value;
      if(bd == "" || un == "" || adr == ""){
        document.getElementById("error-field").innerText = "Please Enter all your details"
        return;
      }
      let frm = new FormData();
      var url = window.location;
      frm.append("csrfmiddlewaretoken", '{{csrf_token}}' );
      frm.append("userid", id);
      frm.append("uname", un);
      frm.append("bd", bd);
      frm.append("uaddress", adr);
      document.getElementById("progress").removeAttribute("hidden");
      send_data(frm, url.protocol + "//" + url.host + "/" + "check/id/", 1);
    }

    function checkkra(){
      let id = document.getElementById("userkra").files[0];
      let un = document.getElementById("uname").value;
      let bd = document.getElementById("bd").value;
      let adr = document.getElementById("uaddress").value;
      if(bd == "" || un == "" || adr == ""){
        document.getElementById("error-field").innerText = "Please Enter all your details"
        return;
      }
      let frm = new FormData();
      var url = window.location;
      frm.append("csrfmiddlewaretoken", '{{csrf_token}}' );
      frm.append("userkra", id);
      frm.append("uname", un);
      frm.append("bd", bd);
      frm.append("uaddress", adr);
      document.getElementById("progress").removeAttribute("hidden");
      send_data(frm, url.protocol + "//" + url.host + "/" + "check/kra/", 2);
    }

    function checkpp(){
      let id = document.getElementById("userid").files[0];
      let pp = document.getElementById("userpp").files[0];
      let frm = new FormData();
      var url = window.location;
      frm.append("csrfmiddlewaretoken", '{{csrf_token}}' );
      frm.append("userid", id);
      frm.append("pic", pp);
      document.getElementById("progress").removeAttribute("hidden");
      send_data(frm, url.protocol + "//" + url.host + "/" + "check/pic/", 3);
    }
  </script>