{% extends 'kycweb/base.html' %}


{% block nav_block %}
    <div class="navbar-wrapper">
        <a class="navbar-brand" href="#">Login</a>
    </div>
{% endblock nav_block%}

{% block body_block %}
<style>
    .container-form{
        position: relative;
        min-width: 300px;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.23);
        padding: 3%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4> Login </h4>
                    <p>Login to your account</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="">    
                        {% csrf_token %}
                        {% for fl in form %}
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">{{ fl.label_tag }}</label> 
                            {{ fl }}
                        </div>
                        {% endfor %}
                    
                        <button type="submit" class="btn btn-primary">Login</button><p> OR </p><a href="#">Signup Here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock body_block %}
  